/* #container {
    
   display: flex; 
   width: 100%;
   flex-direction: column;
   border:  1PX solid black;
   justify-content: center;
   height: 700PX;

}
.child {

height: 200px; */
/* flex:1 */

/* }
#child1 {
    background-color: green;
}

#child2 {
    background-color: yellow;
}
#child3 {
    background-color: red;
} */

/* .signup-form{
    width: 300px
} */

mat-form-field{
    width: 300px
}